body{
  background-color: #34495e;
}

#intro{
  display: block;
  text-align: center;
  margin: 20vh auto 0;
  width: 40%;
}

.score{
  text-align: center;
}

#map{
  width: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.case{
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #2c3e50;
  background: url("../img/ground.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.case .player{
  background: red;
}